*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding-top: 20px;
    text-align: center;
}
#searchbox{
    width: 50%;
    margin: auto;
    
}

#searchbox input, button{
    width: 80%;
    border: 1px solid goldenrod;
    border-radius: 5px;
    border-right: 0px;
    font-size: 18px;
    padding: 12px;
    background: transparent;
    margin: 0px;
}

#searchbox button{
    width: 20%;
    float: right;
    background-color: tomato;
    color: white;
    border-left: 0px;
}

#show-meal{
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.meal-item{
    border: 1px solid #E8F7EF;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}
#show-meal img{
    width: 320px;
    height: 200px;
}
.notMached{
    margin-top: 20px;
    color: tomato;
    font-size: 25px;
    font-weight: bold;
}

.search-result{
    margin-top: 20px;
    margin-bottom: 10px;
}
.search-result h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: tomato;
}

#mealDetails{
    max-width: 800px;
    margin: auto;
    color: white;
    background-color: grey;
    border-radius: 10px;
  
    
}
#mealDetails img{
    margin-top: 20px;
    width: 320px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#mealDetails h1{
    color: gold;
    margin-bottom: 5px;
}
#mealDetails p{
    padding: 20px;
    text-align: justify;
    font-size: 18px;
}

